body {
    background-color: #415370 ;
}
h4 {
    color:orangered;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h6{
    font-weight: lighter;
    font-size: small;
}
form {
    margin-left: auto;
    
}
div {
    justify-content: space-around;
}
input{

    size: auto;
}
select{
    size: 100px;
}